### 1. What is a Function?

A function is a block of reusable code that performs a specific task.

**‚úî Why use functions?**

    - Code reuse

    - Clean and modular code

    - Easy to test & debug

    - Increases readability

**üîπ 2. Types of Functions**

**‚úî A) Built-in Functions**

- Already available in Python
Examples ‚Üí len(), max(), min(), type(), print(), input(), list(), dict() etc.

**‚úî B) User-defined Functions**

- Created by the user using def.

**‚úî C) Anonymous Functions (Lambda Functions)**

- Created using lambda.

### Creating a Function

In [1]:
 # How to create function (Without Paramters)

def fusion():
    print("Hello all, How are you")

### Call the function:

In [2]:
# How to call Function - using function name
fusion()

Hello all, How are you

### Function with Parameters

- pass by value using parameters

In [5]:
# Function with Parameters.
# Python program to find add two numbers using fun.
def add_two_no():
    n1 = 32
    n2 = 23
    print("Addition of two numbers :- ",n1 + n2)

add_two_no()

Addition of two numbers :-  55

### Types of Parameters
**‚úî 1. Positional Arguments**

- Based on position

In [7]:
def add_two_no(n1, n2):
    print("Addition of two numbers :- ",n1 + n2)

add_two_no(12,21)

Addition of two numbers :-  33

In [10]:
def add_two_no(n1, n2):
    print("Addition of two numbers :- ",n1 + n2)

n1 = int(input("Enter 1st value :- "))
n2 = int(input("Enter 2nd value:- "))
add_two_no(n1,n2)

Enter 1st value :-  12
Enter 2nd value:-  21

Addition of two numbers :-  33

In [9]:
def add_two_no(n1=int(input("Enter 1st value :- ")), n2=int(input("Enter 2nd value:- "))):
    print("Addition of two numbers :- ",n1 + n2)
add_two_no()

Enter 1st value :-  12
Enter 2nd value:-  21

Addition of two numbers :-  33

**üîπ 14. Scope of Variables**
‚úî Local Variable

- Inside a function

‚úî Global Variable

- Outside function ‚Üí accessible everywhere

In [56]:
def add_two_no():
    n1 = int(input("Enter 1st value :- "))   # local Variable
    n2 = int(input("Enter 2nd value:- "))   # Local Variable
    print("Addition of two numbers :- ",n1 + n2)

n3 = 23   # Global Variable
add_two_no()

Enter 1st value :-  12
Enter 2nd value:-  12

Addition of two numbers :-  24

**‚úî 2. Keyword Arguments**

- Specify name=value

In [55]:
def add_two_no(n1, n2,n3):
    print("Addition of two numbers :- ",n1 + n2 + n3)
add_two_no(n1=21,n2=23,n3=122)

Addition of two numbers :-  166

**‚úî 3. Default Arguments**

- If value not passed ‚Üí default used

In [17]:
def add_two_no(n1=12, n2=11,n3=33):
    print("Addition of two numbers :- ",n1 + n2 + n3)
add_two_no(10,20)

Addition of two numbers :-  63

### Function with Return Value

- return :- stored and return value.

In [21]:
# Function with Retrun value - Retrun gives output back to the caller.
def multiply(a,b):
    return a * b

result = multiply(12,21)
result

252

**‚úî 4. Variable-Length Arguments**

üî∏ *a. args ‚Üí Multiple positional arguments

In [3]:
def addition(*num):
    print(sum(num))

addition(12,23,34,45,12,432,13,434,13,43)

1061

üî∏ **b. kwargs ‚Üí Multiple keyword arguments

In [7]:
def info(**data):
    print(data)

info(name="Samir",gender = "Male",age=23,city="Pune",sub="Python")

{'name': 'Samir', 'gender': 'Male', 'age': 23, 'city': 'Pune', 'sub': 'Python'}

### PRACTICAL QUESTIONS

In [8]:
# 1.Python program to write a function to count vowels in a string.
def count_vowels(text):
    vowels = "aeiouAEIOU"
    return sum( 1 for i in text if i in vowels)
count_vowels("I love Python")

4

In [11]:
def result(text):
    vowels = "aeiouAEIOU"
    count = 0
    for i in text:
        if i in vowels:
            count += 1
    return count
result("I Love Python")

4

In [12]:
#2. Python Program to create function to return even numbers from list.
def show_even(num):
    return [i for i in num if i%2 == 0 ]
show_even([12,21,34,323,13,54,2])

[12, 34, 54, 2]

In [15]:
def show_result(num):
    even = []
    for i in num:
        if i%2 == 0:
            even.append(i)
    return even
show_result([12,42,14,6,42,789,532])

[12, 42, 14, 6, 42, 532]

In [18]:
# 3.Python Program to create a Function that returns frequency of elements in List.
def count_freq(data):
    d = {}
    for i in data:
        d[i] = d.get(i, 0)+1
    return d
count_freq([1,2,3,43,2,43,1,4,6,4,2,4])

{1: 2, 2: 3, 3: 1, 43: 2, 4: 3, 6: 1}

In [20]:
#4. Python Program to create function to check string is palindrome or not.
def check_palindrome(string):
    return string == string[ : :-1]
print(check_palindrome("satara"))

False

## Lambda Function

**‚úÖ 1. What is a Lambda Function?**

- A lambda function is a small, anonymous (nameless) function in Python.

‚úî Created using the keyword lambda

‚úî Used for short, one-line operations

‚úî Works anywhere a normal function can be used

‚úî Helps write clean, compact, quick code

Syntax :- 
lambda arguments : expression

- No def
- No function name
- No return statement ‚Üí expression automatically returns value

In [22]:
def squ(num):
    return num*num
squ(12)

144

In [23]:
squ = lambda num:num*num   #single argument
print(squ(12))

144

In [24]:
result = lambda a,b : a+b   #multiple arguments
result(12,21)

33

In [26]:
result = lambda : "Hello I'm Python"   # without argument.
result()

"Hello I'm Python"

### PRACTICAL QUESTIONS

In [27]:
# Lambda with Conditional Logic.
#1. Python program to check given number is even or odd using lambda function.
check = lambda num: "Even" if num%2 == 0 else "odd"
print(check(int(input("Enter given number"))))

Enter given number 121

odd

In [31]:
# 2. Python program to Find max number using lambda.
check = lambda a,b : a if a>b else b
print(check(12,11))

12

# Lambda - map()
- Apply function on each element

In [7]:
num = [1,2,3,4,5,6,7,8,9,10]
squ = list(map(lambda x : x*2,num))
squ

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Lambda - filter()
- Filter elements based on condition.

In [10]:
even = list(filter(lambda x:x%2 == 0, num))
even

[2, 4, 6, 8, 10]

# Lambda - Reduce()
- Perform cumulative operation.

In [19]:
from functools import reduce
reduce(lambda a,b : a + b ,[12,2,34,4,5,5,3,2,4,12])

83

In [17]:
sum([12,2,34,4,5,5,3,2,4,])

83

### PRACTICAL QUESTIONS

In [20]:
# 1. Python Program to Find Max number using lambda function.
max = lambda a,b : a if a >b else b
print(max(34,43))

43

In [22]:
# 2. Python program to sort list by last digit.
num = [10,52,33,74]
print(sorted(num, key = lambda x : x%10 ))

[10, 52, 33, 74]

In [24]:
# 3. Python program to extract even numbers using filter.
print(list(filter(lambda x : x%2 == 0, range(1,21))))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
# 4. Python program to convert list of strings to integers.
data = ['1','2','3','4','5']
print(list(map(lambda x:int(x), data)))

[1, 2, 3, 4, 5]

In [26]:
# 5. Python Program to get names starting with 'S'
data = ['Samir','Ramesh','Sushant','Aditya','Sakshi']
print(list(filter(lambda x:x.startswith('S'),data)))

['Samir', 'Sushant', 'Sakshi']

In [33]:
# 6. Python program to find square dict. values.
data = {'a':12,'b':13,'c':14}
result = {k:(lambda x:x*x)(v) for k,v in data.items()}
result

{'a': 144, 'b': 169, 'c': 196}

In [34]:
# 7. Python program to filter palindrome data.
data = ['madam','apple','level','cat']
print(list(filter(lambda x: x == x[ : : -1], data)))

['madam', 'level']

In [58]:
# 8. Python program to convert R to $.(1 USD = R84)
data = [84,888,345,213]
result = list(map(lambda x: x/84, data))
print(result)

[1.0, 10.571428571428571, 4.107142857142857, 2.5357142857142856]

- **Function Based Assignment**


4Ô∏è. Count vowels using reduce

5Ô∏è. Sort students by marks

students = [
    {"name": "Sagar", "marks": 90},
    {"name": "Aditi", "marks": 70},
    {"name": "Swapnali", "marks": 85}
]

6Ô∏è. Extract domain from emails

emails = ["abc@gmail.com", "sagar@yahoo.com"]

7Ô∏è. Sum of squares using map+reduce
8Ô∏è. Filter employees with salary > 50k

employees = [
    {"name":"Sagar", "salary":60000},
    {"name":"Aditi", "salary":45000},
    {"name":"Swapnali", "salary":80000}
]

9Ô∏è. Multiply corresponding elements of 2 lists

a = [2,3,4]
b = [10,20,30]

10. Reverse each word using map
    
words = ["python","data","science"]

11. Sort list by last digit

nums = [12, 45, 23, 78]

14. Clean dataset (remove empty values)

data = [10, "", None, 0, "hello", 50, None]

15. Find largest string using reduce

words = ["python", "machine", "ai", "datascience"]

16. Create list of cubes

nums = [1,2,3,4,5]

17. Get numbers divisible by 5

nums = [10,25,33,40,52]

18. Convert list of tuples to list of first elements

data = [(1,2), (3,4), (5,6)]

19. Create list of initials from names

names = ["sagar JAdhav", "swapnil jadhav", "aditya deshmukh"]

| Feature     | Normal Function (`def`) | Lambda Function     |
| ----------- | ----------------------- | ------------------- |
| Name        | Yes                     | No                  |
| Statements  | Multiple                | Single expression   |
| Use Case    | Large logic             | Inline/simple logic |
| Readability | High     |               | Sometimes low       |

| Feature       | map()                  | filter()        | reduce()         |
| ------------- | ---------------------- | --------------- | ---------------- |
| Purpose       | Transform each element | Select elements | Combine elements |
| Output        | New list               | Filtered list   | Single value     |
| Needs lambda? | Optional               | Optional        | Almost always    |
| Example       | multiply each item     | keep evens only | sum all items    |